$primaryTitleColor: #212121;
$primaryTextColor: #212121;
$secondaryTitleColor: #FFF;
$secondaryTextColor: #757575;
$backgroundDarkColor: #2F303A;
$backgroundLightColor: #F5F4FA;
$accentColor: #2196F3;
$accentDarkColor: #014379;
$iconColor: #AFB1B8;
$cardGap: 30px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.03em;
    color: $primaryTextColor;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: calc(42/36);
        text-align: center;
        color: $primaryTitleColor;
        margin-bottom: 50px;
    }
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    color: $accentColor;
}

textarea {
    resize: none;
}

/* Header */

.header {
    display: flex;
    align-items: center;
    &logo {
        margin-right: 97px;
        &:hover,
        &:focus {
            color: $accentDarkColor
        }
    }
    
    
}

.nav {
    display: flex;
    &item:not(:last-child) {
        margin-right: 53px;
    }

    &link {
        font-family: 'Roboto';
        font-size: 14px;
        line-height: calc(16/14);
        letter-spacing: 0.02em;
        color: $primaryTextColor;
        padding: 32px 0;
        display: block;
    }

    &link:hover,
    &link:focus {
        color: $accentColor;
    }

    &link--current {
        color: $accentColor;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            height: 4px;
            bottom: 0;
            right: 0;
            width: 100%;
            background: $accentColor
        }
    }    
}

.contact {
    display: flex;
    margin-left: auto;
        &container:not(:last-child) {
            margin-right: 50px;
        }
    
        &link {
            font-style: normal;
            font-size: 14px;
            line-height: calc(16/14);
            letter-spacing: 0.02em;
            color: $secondaryTextColor;
            padding: 32px 0;
            display: flex;
            align-items: center;
            &:hover,
            &:focus {
            color: $accentColor
            }
        }       
    
        &icon {
            margin-right: 10px;
            fill: currentcolor;
        }
}

/* Hero Section*/

.hero {
    background-color: $backgroundDarkColor;
    padding: 200px 0;
    background-image:
        linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/mainpageimages/hero-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &title {
        font-weight: 900;
        font-size: 44px;
        line-height: calc(60/44);
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $secondaryTitleColor;
        display: inline-block;
        width: 696px;
        margin-bottom: 30px;
    }

    &button {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: calc(30/16);
        text-align: center;
        letter-spacing: 0.06em;
        color: $secondaryTitleColor;
        background-color: $accentColor;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;
        display: inline-block;
        border-color: $accentColor;
        padding: 10px 20px;
        border: none;
        &:hover,
        &:focus {
            color: $accentColor;
            background-color: $accentDarkColor;
        }
    }    
}

/* Hero Modal */

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0px;
    left: 0px;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 9;
}

.modal__container {
    position: relative;
    width: 100vw;
    height: 100vh;
    width: 528px;
    height: 581px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $secondaryTitleColor;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 10;
}

.close {
    width: 30px;
    height: 30px;
    background-color: $secondaryTitleColor;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 8px;
    margin-left: 490px;
}

.close:hover,
.close:focus {
    background-color: $accentColor;
    color: $secondaryTitleColor;
}

.close__icon {
    fill: currentColor;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 2px 40px 40px 40px;
}

.form__title {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23/20);
    text-align: center;
    color: $primaryTitleColor;
    margin-bottom: 12px;
}

.form__container {
    display: flex;
    flex-direction: column;
}

.form__label {
    display: flex;
    flex-direction: column;
}

.form__label>span {
    margin-bottom: 4px;
    margin-top: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.01em;
    color: $secondaryTextColor;
}

.bar {
    position: relative;
    width: 100%;
    display: block;
}

.bar__input {
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 40px;
    padding: 0 12px 0 42px;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bar__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.bar__input:focus+.bar__icon {
    fill: $accentColor;
}

.form__label>textarea {
    height: 96px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bar__input:focus,
.form__label>textarea:focus {
    outline: none;
    border-color: $accentColor;
    color: $primaryTextColor;
    font-weight: normal;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
}

.checkbox {
    cursor: pointer;
    margin-left: 12px;
    margin-right: 8px;
    color: $primaryTextColor;
    display: none;
    pointer-events: none;
}

.tos {
    display: flex;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    color: $secondaryTextColor;
}

.tos__checkbox {
    width: 15px;
    height: 15px;
    border: 1px solid $primaryTextColor;
    border-radius: 2px;
    margin-right: 8px;
    margin-top: 5px;
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tos__checked {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked+.tos>span>.tos__checked {
    opacity: 1;
}

.checkbox:checked+.tos>.tos__checkbox {
    background-color: $accentColor;
    border: none;
}

.form__button {
    margin-top: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    display: inline-block;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: $accentColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border-color: $accentColor;
    align-self: center;
    cursor: pointer;
    border: none;
}

/* Features */

.features__title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features__list {
    display: flex;
    justify-content: center;
}

.features__item {
    display: inline-block;
    width: 270px;
}

.features__item:not(:last-child) {
    margin-right: 30px;
}

.features__icon {
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
    background-color: $backgroundLightColor;
    border-radius: 4px;
    margin-bottom: 30px;
}

.features__title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    text-transform: uppercase;
    color: $primaryTitleColor;
    margin-bottom: 10px;
}

.features__text {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    color: $secondaryTextColor;
}

/* What we do */

.wwd {
    padding-top: 0px;
}

.wwd__list {
    display: flex;
    justify-content: center;
}

.wwd__item {
    position: relative;
}

.wwd__item:not(:last-child) {
    margin-right: 30px;
}

.wwd__overlay {
    position: absolute;
    height: 70px;
    width: 100%;
    background: rgba(47, 48, 58, 0.8);
    bottom: 0;
}

.wwd__overlay>p {
    color: $secondaryTitleColor;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    text-align: center;
    text-transform: uppercase;
    margin-top: 27px;
}

/* Our Team */

.ot {
    background-color: $backgroundLightColor;
}

.ot__list {
    background-color: $backgroundLightColor;
    display: flex;
    justify-content: center;
}

.ot__item {
    background: $secondaryTitleColor;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    display: flex;
    flex-direction: column;
    width: 270px;
}

.ot__item:not(:last-child) {
    margin-right: 30px;
}

.ot__picture {
    margin-bottom: 30px;
}

.ot__title {
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    color: $primaryTitleColor;
    margin-bottom: 10px;
}

.ot__text {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    color: $secondaryTextColor;
    margin-bottom: 16px;
}

.socials {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.socials__item:not(:last-child) {
    margin-right: 10px;
}

.socials__link {
    width: 44px;
    height: 44px;
    background-color: $secondaryTitleColor;
    color: $iconColor;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.socials__link:hover,
.socials__link:focus {
    background-color: $accentColor;
    color: $secondaryTitleColor;
}

.socials__icon {
    fill: currentColor;
}

/* Customer section */

.customer__list {
    display: flex;
    justify-content: center;
}

.customer__item:not(:last-child) {
    margin-right: 30px;
}

.customer__link {
    width: 170px;
    height: 92px;
    background-color: $secondaryTitleColor;
    color: $iconColor;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $iconColor;
    border-radius: 4px;
}

.customer__link:hover,
.customer__link:focus {
    color: $accentColor;
    border-color: $accentColor;
}

.customer__icon {
    fill: currentcolor;
}

/* Footer */

.footer {
    background-color: $backgroundDarkColor;
    height: 252px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__container {
    display: flex;
}

.footer__logo {
    margin-bottom: 6px;
    display: block;
}

.footer__logo:hover,
.footer__logo:focus {
    color: $accentDarkColor;
}

.footer__address {
    font-style: normal;
    width: 240px;
}

.footer__link {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    color: $secondaryTitleColor;
    margin-bottom: 2px;
}

.footer__link:hover,
.footer__link:focus {
    color: $accentColor;
}

.footer__contact-item:not(:last-child) {
    margin-bottom: 2px;
}

.footer__link--opacity {
    opacity: 0.6;
}

.fuo {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}

.fuo__title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $secondaryTitleColor;
    margin-bottom: 20px;
}

.fuo__list {
    display: flex;
    justify-content: center;
}

.fuo__item:not(:last-child) {
    margin-right: 10px;
}

.fuo__link {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    color: $secondaryTitleColor;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.fuo__link:hover,
.fuo__link:focus {
    background-color: $accentColor;
}

.fuo__icon {
    fill: currentColor;
}

.subscribe {
    margin-left: auto;
}

.subscribe__title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    text-transform: uppercase;
    color: $secondaryTitleColor;
}

.subscribe__form {
    margin-top: 20px;
}

.subscribe__label {
    display: flex;
}

.subscribe__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: inherit;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20/16);
    padding-left: 16px;
}

.subscribe__button {
    margin-left: 12px;
    width: 200px;
    height: 50px;
    background: $accentColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    position: relative;
    border-color: $accentColor;
    cursor: pointer;
    display: flex;
    position: relative;
    align-items: center;
    border: none;
}

.subscribe__button>span {
    margin-left: 48px;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.06em;
    color: $secondaryTitleColor;
}

.subscribe__icon {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 28px;
}

/* Portfolio Page*/

/* Our Portfolio */

.button-bar__section {
    margin-bottom: 50px;
    padding-bottom: none;
}

.button-bar__title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button-bar__list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.button-bar__item:not(:last-child) {
    margin-right: 8px;
}

.button-bar__button {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    letter-spacing: 0.06em;
    text-align: center;
    cursor: pointer;
    color: $primaryTitleColor;
    background-color: $backgroundLightColor;
    border-radius: 4px;
    padding: 6px 26px;
    border-color: $backgroundLightColor;
    border: none;
}

.button-bar__button:hover,
.button-bar__button:focus {
    background-color: $accentColor;
    color: $secondaryTitleColor;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

/* Portfolio Card Section */

.card {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * $cardGap);
    margin-left: calc(-1 * $cardGap);
}

.card__item {
    flex-basis: calc(100% / 3 - $cardGap);
    margin-top: $cardGap;
    margin-left: $cardGap;
    background-color: $secondaryTitleColor;
    border: 1px solid #EEEEEE;
    position: relative;
    overflow: hidden;
}

.card__overlay {
    color: $secondaryTitleColor;
    position: absolute;
    z-index: 1;
    background: rgba(33, 150, 243, 0.9);
    width: 100%;
    height: 294px;
    transform: translateY(0%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    top: 294px;
}

.card__overlay>p {
    width: 322px;
    margin-top: 63px;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(28/18);
}

.card__item:hover .card__overlay,
.card__item:focus .card__overlay {
    transform: translateY(-100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__item:hover,
.card__item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__textbox {
    position: relative;
    z-index: 2;
    background-color: $secondaryTitleColor;
    display: flex;
    flex-direction: column;
}

.card__title {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.06em;
    color: $primaryTitleColor;
    margin-top: 20px;
    margin-left: 24px;
}

.card__text {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30/16);
    color: $secondaryTextColor;
    margin-top: 4px;
    margin-left: 24px;
    margin-bottom: 20px;
}