@use '../abstracts/variables' as *;

/* Hero Section*/

.hero {
    background-color: $backgroundDarkColor;
    padding: 200px 0;
    background-image:
        linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/mainpageimages/hero-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title {
        font-weight: 900;
        font-size: 44px;
        line-height: calc(60/44);
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $secondaryTitleColor;
        display: inline-block;
        width: 696px;
        margin-bottom: 30px;
    }

    &__button {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: calc(30/16);
        text-align: center;
        letter-spacing: 0.06em;
        color: $secondaryTitleColor;
        background-color: $accentColor;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;
        display: inline-block;
        border-color: $accentColor;
        padding: 10px 20px;
        border: none;

        &:hover,
        &:focus {
            color: $accentColor;
            background-color: $accentDarkColor;
        }
    }
}

/* Hero Modal */

%modalFocus {
    outline: none;
    border-color: $accentColor;
    color: $primaryTextColor;
    font-weight: normal;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 2px 40px 40px 40px;

    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: calc(23/20);
        text-align: center;
        color: $primaryTitleColor;
        margin-bottom: 12px;
    }

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__label {
        display: flex;
        flex-direction: column;

        &>span {
            margin-bottom: 4px;
            margin-top: 10px;
            font-weight: 400;
            font-size: 12px;
            line-height: calc(14/12);
            letter-spacing: 0.01em;
            color: $secondaryTextColor;
        }

        &>textarea {
            height: 96px;
            padding: 12px 16px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            border-radius: 4px;
            margin-bottom: 20px;
            cursor: pointer;
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

            &:focus {
                @extend %modalFocus;
            }
        }
    }

    &__button {
        margin-top: 20px;
        font-weight: 700;
        font-size: 16px;
        line-height: calc(30/16);
        display: inline-block;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        background: $accentColor;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        width: 200px;
        height: 50px;
        border-radius: 4px;
        border-color: $accentColor;
        align-self: center;
        cursor: pointer;
        border: none;
    }
} 

.bar {
    position: relative;
    width: 100%;
    display: block;

    &__input {
        width: 100%;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        height: 40px;
        padding: 0 12px 0 42px;
        cursor: pointer;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus {
            @extend %modalFocus;
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 12px;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
    }

    &__input:focus+.bar__icon {
        fill: $accentColor;
    }
}

.checkbox {
    cursor: pointer;
    margin-left: 12px;
    margin-right: 8px;
    color: $primaryTextColor;
    display: none;
    pointer-events: none;

    &:checked+.tos>span>.tos__checked {
        opacity: 1;
    }

    &:checked+.tos>.tos__container {
        background-color: $accentColor;
        border: none;
    }
}

.tos {
    display: flex;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    color: $secondaryTextColor;

    &__container {
        width: 15px;
        height: 15px;
        border: 1px solid $primaryTextColor;
        border-radius: 2px;
        margin-right: 8px;
        margin-top: 5px;
        margin-left: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__checked {
        opacity: 0;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

/* Features */

.features {
    &__title {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    &__list {
        display: flex;
        justify-content: center;
    }

    &__item {
        display: inline-block;
        width: 270px;
    }

    &__item:not(:last-child) {
        margin-right: 30px;
    }

    &__icon {
        display: flex;
        height: 120px;
        justify-content: center;
        align-items: center;
        background-color: $backgroundLightColor;
        border-radius: 4px;
        margin-bottom: 30px;
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16/14);
        text-transform: uppercase;
        color: $primaryTitleColor;
        margin-bottom: 10px;
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: calc(24/14);
        color: $secondaryTextColor;
    }
}

/* What we do */

.wwd {
    padding-top: 0px;

    &__list {
        display: flex;
        justify-content: center;
    }

    &__item {
        position: relative;
    }

    &__item:not(:last-child) {
        margin-right: 30px;
    }

    &__overlay {
        position: absolute;
        height: 70px;
        width: 100%;
        background: rgba(47, 48, 58, 0.8);
        bottom: 0;
    }

    &__overlay>p {
        color: $secondaryTitleColor;
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16/14);
        text-align: center;
        text-transform: uppercase;
        margin-top: 27px;
    }
}



/* Our Team */

.ot {
    background-color: $backgroundLightColor;

    &__list {
        background-color: $backgroundLightColor;
        display: flex;
        justify-content: center;
    }

    &__item {
        background: $secondaryTitleColor;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        display: flex;
        flex-direction: column;
        width: 270px;
    }

    &__item:not(:last-child) {
        margin-right: 30px;
    }

    &__picture {
        margin-bottom: 30px;
    }

    &__title {
        font-size: 16px;
        line-height: calc(19/16);
        text-align: center;
        color: $primaryTitleColor;
        margin-bottom: 10px;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: calc(19/16);
        text-align: center;
        color: $secondaryTextColor;
        margin-bottom: 16px;
    }
}

.socials {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    &__item:not(:last-child) {
        margin-right: 10px;
    }

    &__link {
        width: 44px;
        height: 44px;
        background-color: $secondaryTitleColor;
        color: $iconColor;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    &__link:hover,
    &__link:focus {
        background-color: $accentColor;
        color: $secondaryTitleColor;
    }

    &__icon {
        fill: currentColor;
    }
}

/* Customer section */

.customer {
    &__list {
        display: flex;
        justify-content: center;
    }

    &__item:not(:last-child) {
        margin-right: 30px;
    }

    &__link {
        width: 170px;
        height: 92px;
        background-color: $secondaryTitleColor;
        color: $iconColor;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $iconColor;
        border-radius: 4px;
    }

    &__link:hover,
    &__link:focus {
        color: $accentColor;
        border-color: $accentColor;
    }

    &__icon {
        fill: currentcolor;
    }
}